<div class="container">
   <h1>Students for exhibition</h1>
   <form [formGroup]="formdata" (ngSubmit)="submit(formdata)">
      
         <div class="form-group">
         <mat-form-field appearance="fill">
            <mat-label for="slno">slno</mat-label><br>
            <input matInput placeholder="slno" matInput type="text" name="slno" class="form-control" formControlName="slno">
         </mat-form-field>
         </div>
     
      <mat-form-field appearance="fill">
         <div class="form-group">
            <mat-label for="name">Name</mat-label><br>
            <input matInput placeholder="Name" matInput type="text" name="name" class="form-control" formControlName="name">
           
         </div>
         <div *ngIf="formdata.controls['name'].invalid && (formdata.controls['name'].dirty)">
            <div *ngIf="formdata.controls['name'].errors?.required">Name is required</div>
         </div>
         <mat-hint>Full Name</mat-hint>
      </mat-form-field>
      <mat-form-field appearance="fill">
         <pre></pre>
         <div class="form-group">
            <mat-label for="class">class</mat-label><br>
            <input  matInput placeholder="class" matInput type="number" name="class" class="form-control" formControlName="class">
            <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
         </div>
      </mat-form-field>
      <pre></pre>
      
         <div class="form-group">
         <mat-form-field appearance="fill">
            <mat-label for="topic">topic</mat-label><br>
            <input matInput placeholder="topic" matInput type="text" name="topic" class="form-control" formControlName="topic">
         </mat-form-field>
         </div>
      
      <pre></pre>
      <button *ngIf="!data?.showEditButton" class="btn btn-primary" type="submit"
         [disabled]="!formdata.valid">Submit</button>




   </form>
   <button *ngIf="data?.showEditButton" class="btn btn-primary"mat-stroked-button (click)="snackbar()" (click)="updt(formdata.value) "
      [disabled]="!formdata.valid">UPDATE</button>
</div>