

<div class="row row-cols-1 row-cols-md-3">
    <div class="col-mb-4" *ngFor="let card of regestrcrd">
        <mat-card class="example-card">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title class="title">{{card.title}}</mat-card-title>
              
            </mat-card-header>
            <img mat-card-image src="{{card.image}}" >
            <mat-card-content class="des">
              {{card.description}}

            </mat-card-content>
            
            <mat-card-content>
              {{card.event}}

            </mat-card-content>
            
          </mat-card>
    
    </div>
    

</div>
